
<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        version="1.0.0">

    <name>Menu Só de Cenoura</name>

    <description>
        Menu do restaurante Só de Cenoura.
    </description>

    <author href=email="kaiquebernardo02@gmail.com">
	Kaique Bernardo
    </author>
    
</widget>
